body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background: url("https://i.imgur.com/QPy04RW.jpg");
    }
    
    /*Global*/
    .container{
        width:80%;
        margin:auto;
        overflow:hidden;
    }
    
    ul{
        margin:0;
        padding:0;
    }
    
    .button_1{
        height:38px;
        background: #926A6A;
        border:0;
        padding-left: 20px;
        padding-right: 20px;
        color:#ffffff;
        font-family: serif;
    }
    
    
    #gallery h1{
        font-family:serif;
        text-align:center;
        color:#926A6A;
        
        
    }
    
    
    
    /*Header*/
    header{
        background:#120B0B;
        color:#ffffff;
        font-family: serif;
        padding-top:30px;
        opacity:.8;
        min-height:70px;
        border-bottom:#926A6A 3px solid;
    }
    
    header a{
        color:#ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }
    
    header li{
        float: left;
        display:inline;
        padding: 0 20px 0 20px;
    }
    
    header #branding{
        float:left;
    }
    
    header #branding{
        float:left;
    }
    
    header #branding h1{
        margin:0;
    }
    
    header nav{
        float:right;
        margin-top: 10px;
    }
    
    header .highlight, header .current a{
        color:#926A6A;
        font-weight:bold;
        
    }
    
    header a:hover{
        color:#cccccc;
        font-weight:bold; 
    }
    
    /* Showcase */
    #showcase{
        min-height: 400px;
        background:url(https://i.imgur.com/BrXkUdZ.gif);
        text-align:center;
        color:#ffffff;
    }
    
    #showcase h1{
        margin-top:100px;
        font-size:55px;
        font-family: serif;
        border-style:solid;
        border-width: 5px;
        margin-bottom: 10px
    }
    
    #showcase p{
        font-size: 20px;
        font-family: serif;
        text-align: center;
        opacity: .5;
    }
    
    #newsletter{
        padding:15px;
        color:#ffffff;
        background:#120B0B;
        border-bottom:#926A6A 3px solid;
        font-family: serif; 
        font-size: medium; 
        opacity:.8;
    }
    
    #newsletter h1{
        float:left;
        margin-top:15px;
    }
    
    #newsletter form{
        margin-top: 15px;
        float:right;
        font-family: serif;
    }
    
    
    
    #newsletter input[type="email"]{
        padding:4px;
        height:25px;
        width:250px;
    }
    
    #boxes{
        margin-top:20px;
    }
    
    #boxes .box{
        float:left;
        text-align: center;
        color: white;
        width:30%;
        padding:10px;
    }
    
    #boxes .box img{
        width:90px;
    }
    
    footer{
        padding:20px;
        margin-top:20px;
        color:#ffffff;
        background-color: #926A6A;
        text-align: center;
    }
    
   marquee {
       font-family: serif;
       font-style: italic;
       color:#926A6A;
   }
   
   h2 {
       text-align: center;
       font-family: serif;
       color: white;
   }
   
   p {
       text-align: center;
       margin-right:30%;
       margin-left:30%;
       font-family: serif;
       color: white;
       
   }
   
   
   #text {
       float:center;
   }
   
   
   #picture {

       height:400px;
       width:500px;
       margin:auto;
       padding-right:250px;
   }
   
   #boxes {
       font-family: serif
   }

    .box h3 a{
        padding-left:100px;
        padding-right:100px;
        background-color:#926A6A;
        opacity:.8;
        text-decoration: none;
        color:black;
    }
   